Website/Connected Services/ComicsReference/Comics1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComicsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComicsDTO" nillable="true" type="tns:ComicsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComicsDTO" nillable="true" type="tns:ArrayOfComicsDTO" />
  <xs:complexType name="ComicsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComicsDTO" nillable="true" type="tns:ComicsDTO" />
</xs:schema>