Website/Connected Services/SeriesReference/Series.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Series" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57733/Series.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57733/Series.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57733/Series.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeries_GetSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeries" />
  </wsdl:message>
  <wsdl:message name="ISeries_GetSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeries_PostSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:PostSeries" />
  </wsdl:message>
  <wsdl:message name="ISeries_PostSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeries_PutSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:PutSeries" />
  </wsdl:message>
  <wsdl:message name="ISeries_PutSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeries_DeleteSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeries" />
  </wsdl:message>
  <wsdl:message name="ISeries_DeleteSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeries_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="ISeries_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeries">
    <wsdl:operation name="GetSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeries/GetSeries" message="tns:ISeries_GetSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeries/GetSeriesResponse" message="tns:ISeries_GetSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeries/PostSeries" message="tns:ISeries_PostSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeries/PostSeriesResponse" message="tns:ISeries_PostSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeries/PutSeries" message="tns:ISeries_PutSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeries/PutSeriesResponse" message="tns:ISeries_PutSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeries/DeleteSeries" message="tns:ISeries_DeleteSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeries/DeleteSeriesResponse" message="tns:ISeries_DeleteSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeries/Message" message="tns:ISeries_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeries/MessageResponse" message="tns:ISeries_Message_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeries" type="tns:ISeries">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSeries">
      <soap:operation soapAction="http://tempuri.org/ISeries/GetSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSeries">
      <soap:operation soapAction="http://tempuri.org/ISeries/PostSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutSeries">
      <soap:operation soapAction="http://tempuri.org/ISeries/PutSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeries">
      <soap:operation soapAction="http://tempuri.org/ISeries/DeleteSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/ISeries/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Series">
    <wsdl:port name="BasicHttpBinding_ISeries" binding="tns:BasicHttpBinding_ISeries">
      <soap:address location="http://localhost:57733/Series.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>