Website/Connected Services/CharacterReference/Character.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Character" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57733/Character.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57733/Character.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57733/Character.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharacter_GetCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacters" />
  </wsdl:message>
  <wsdl:message name="ICharacter_GetCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacter_PostCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacter_PostCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacter_PutCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:PutCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacter_PutCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacter_DeleteCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacter" />
  </wsdl:message>
  <wsdl:message name="ICharacter_DeleteCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacter_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="ICharacter_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharacter">
    <wsdl:operation name="GetCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacter/GetCharacters" message="tns:ICharacter_GetCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacter/GetCharactersResponse" message="tns:ICharacter_GetCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacter/PostCharacter" message="tns:ICharacter_PostCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacter/PostCharacterResponse" message="tns:ICharacter_PostCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacter/PutCharacter" message="tns:ICharacter_PutCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacter/PutCharacterResponse" message="tns:ICharacter_PutCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacter/DeleteCharacter" message="tns:ICharacter_DeleteCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacter/DeleteCharacterResponse" message="tns:ICharacter_DeleteCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacter/Message" message="tns:ICharacter_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacter/MessageResponse" message="tns:ICharacter_Message_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharacter" type="tns:ICharacter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCharacters">
      <soap:operation soapAction="http://tempuri.org/ICharacter/GetCharacters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacter/PostCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacter/PutCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCharacter">
      <soap:operation soapAction="http://tempuri.org/ICharacter/DeleteCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/ICharacter/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Character">
    <wsdl:port name="BasicHttpBinding_ICharacter" binding="tns:BasicHttpBinding_ICharacter">
      <soap:address location="http://localhost:57733/Character.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>