Website/Connected Services/CharacterReference/Character2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCharacterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterDTO" nillable="true" type="tns:CharacterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterDTO" nillable="true" type="tns:ArrayOfCharacterDTO" />
  <xs:complexType name="CharacterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Comics" nillable="true" type="tns:ComicsDTO" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Series" nillable="true" type="tns:SeriesDTO" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterDTO" nillable="true" type="tns:CharacterDTO" />
  <xs:complexType name="ComicsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComicsDTO" nillable="true" type="tns:ComicsDTO" />
  <xs:complexType name="SeriesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comics" nillable="true" type="tns:ComicsDTO" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeriesDTO" nillable="true" type="tns:SeriesDTO" />
</xs:schema>