Website/Connected Services/CharacterReference/Character1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57733/Character.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
  <xs:element name="GetCharacters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="GetCharactersResult" nillable="true" type="q1:ArrayOfCharacterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="characterDto" nillable="true" type="q2:CharacterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostCharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="characterDto" nillable="true" type="q3:CharacterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutCharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>